:root {
  font-family: system-ui, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: 400;

  color: black;
  background-image: linear-gradient(rgba(195, 177, 225, 1), rgba(253,253,150,0.8), rgba(62,180,137,0.5));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

